<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu0gzq-XZ6HHkUoYLKYu0fh1E2bQ1P5pI</string>
	<key>GCM_SENDER_ID</key>
	<string>200975445268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expeditioncodes.notesly</string>
	<key>PROJECT_ID</key>
	<string>juicy-notes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>juicy-notes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200975445268:ios:541c41d4afa7a0615f6601</string>
</dict>
</plist>